 /* img-design {
     width: 1320px;
     height: 700px;
 } */
 
 body {
     font-family: 'Poppins', sans-serif;
 }
 
 .caption-design {
     margin-bottom: 160px;
 }
 
 .social-media a {
     text-decoration: none;
 }
 
 @media screen and (max-width:767px) {
     .flex-small {
         display: flex;
         flex-direction: column;
     }
     .register-items {
         display: flex;
         flex-direction: column;
         /* justify-content: center; */
         align-items: center;
         padding: 0;
         margin: 0;
     }
     .company-none {
         display: none;
     }
 }
 
 @media screen and (min-width:768px) and (max-width:991px) {
     .company-none {
         display: none;
     }
 }