body {
    font-family: 'Poppins', sans-serif;
}

.caption-design {
    margin-bottom: 160px;
}

.social-media a {
    text-decoration: none;
}


/* -------------------
           Responsive Design Start
              ------------------------ */


/* ----- Small Devices Responsive ------------ */

@media screen and (max-width:767px) {
    .flex-small {
        display: flex;
        flex-direction: column;
    }
    .register-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* -------------------
           Responsive Design End
              ------------------------ */