 /* img-design {
     width: 1320px;
     height: 700px;
 } */
 
 body {
     font-family: 'Poppins', sans-serif;
 }
 
 .caption-design {
     margin-bottom: 160px;
 }
 
 .social-media a {
     text-decoration: none;
 }